<!--<div>-->
<!--  <h2 style="color: #0a70b9">List comment</h2>-->
<!--  <table style="color: purple" border="1px" width="100%">-->
<!--    <tr>-->
<!--      <th>Number</th>-->
<!--      <th>Content</th>-->
<!--      <th>Time</th>-->
<!--      <th>Home</th>-->
<!--      <th>user</th>-->

<!--    </tr>-->
<!--    <tr *ngFor="let pe of comment  index as i">-->
<!--      <td>{{i + 1}}</td>-->
<!--      <td>{{pe.content}}</td>-->
<!--      <td>{{pe.time}}</td>-->
<!--      <td>{{pe.home?.id}}</td>-->
<!--      <td>{{pe.user?.id}}</td>-->

<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!--<h2 style="color: purple" id="alo"></h2>-->
<div class="pro-details-feedback mb-40">
  <h5>Feedback</h5>
  <!-- media -->
  <div class="media" *ngFor="let cmt of comment">
    <a class="media-left" href="#">
      <img src="{{cmt.user?.avatar}}" alt="">
    </a>
    <div class="media-body">
      <h6 class="media-heading"><a >{{cmt.user?.username}}</a></h6>
      <p><span>{{cmt.time}}</span>{{cmt.content}} </p>
    </div>
  </div>
  <!-- media -->
</div>
<div [formGroup]="commentForm" (ngSubmit)="submit()" class="col-md-7  col-sm-7 col-xs-12">
  <div class="leave-review">
    <h5>Leave a Review</h5>
    <form action="#">
      <textarea formControlName="content"></textarea>
      <button class="submit-btn-1">SUBMIT REVIEW</button>
    </form>
  </div>
</div>

