<!-- Start page content -->
<section id="page-content" class="page-wrapper">
<!-- SERVICES AREA START -->
<div class="services-area pt-115 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-2 text-center">
          <h2>OUR SERVICES</h2>
          <p>Sheltek is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="service-carousel">
        <!-- service-item -->
        <div class="col-6">
          <div *ngIF= "isLoggedIn()" class="service-item">
            <div class="service-item-image">
              <a routerLink="house/create"><img src="assets/images/service/3.jpg" alt=""></a>
            </div>
            <div class="service-item-info">
              <h5><a routerLink="house/create">Hosting</a></h5>
              <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
            </div>
          </div>
        </div>
        <!-- service-item -->
        <div class="col-6">
          <div class="service-item">
            <div class="service-item-image">
              <a routerLink="house"><img src="assets/images/service/4.jpg" alt=""></a>
            </div>
            <div class="service-item-info">
              <h5><a routerLink="house">Renting</a></h5>
              <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SERVICES AREA END -->
</section>
